# https://github.com/ethereum/pyethereum/tarball/develop
ethereum
https://github.com/ethereum/serpent/tarball/develop
# ethereum-serpent
pyepm
flake8
pytest
pytest-xdist
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
